{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bitbucket Pipeline Deployment plugin for Craft CMS 3.x
 *
 * Bitbucket Pipeline Deployment index.twig
 *
 * @author    Colin Tracy
 * @copyright Copyright (c) 2020 Colin Tracy
 * @link      https://www.colintracy.com
 * @package   BitbucketPipelineDeployment
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("aisleng\\bitbucketpipelinedeployment\\assetbundles\\bitbucketpipelinedeployment\\BitbucketPipelineDeploymentAsset") %}
{% do view.registerAssetBundle("aisleng\\bitbucketpipelinedeployment\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/truecolintracy/bitbucket-pipeline-deployment/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Bitbucket Pipeline Deployment" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('bitbucket-pipeline-deployment') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@aisleng/bitbucketpipelinedeployment/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}
{% set buildHooks = craft.bitbucketPipelineDeployment.buildHooks %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Deploy"|t('bitbucket-pipeline-deployment') }}</h2>
    <div class="deploy-block deploy-block-first-child">
        <h3 class="deploy-headline">Production Builds</h3>
        <p>This will deploy your latest content to the production application.</p>
        
        {% for hook in buildHooks %}
            {% if hook.branch == "production" %}
                <button class="btn deploy-btn deploy-prod-btn" data-workspace="{{ hook.workspaceSlug }}" data-repo="{{ hook.repoSlug }}" data-branch="{{ hook.branch }}">
                    Deploy {{ hook.siteName }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="deploy-block">
        <h3 class="deploy-headline">Staging Builds</h3>
        <p>This will deploy your latest content to the staging application.</p>
        {% for hook in buildHooks %}
            {% if hook.branch == "staging" %}
                <button class="btn deploy-btn deploy-staging-btn" data-workspace="{{ hook.workspaceSlug }}" data-repo="{{ hook.repoSlug }}" data-branch="{{ hook.branch }}">
                    Deploy {{ hook.siteName }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    <div class="deploy-block">
        <h3 class="deploy-headline">Development Builds</h3>
        <p>This will deploy your latest content to the development application.</p>
        {% for hook in buildHooks %}
            {% if hook.branch == "development" %}
                <button class="btn deploy-btn deploy-dev-btn" data-workspace="{{ hook.workspaceSlug }}" data-repo="{{ hook.repoSlug }}" data-branch="{{ hook.branch }}">
                    Deploy {{ hook.siteName }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
{% endset %}